//Variable
$color-negro: black;
$color-azul: blue;
$color-blanco: white;
$fuente-pricipal: Arial;
$mobile: 576px;
$tablet: 768px;
$notebook: 1024px;
$desktop: 1200px;
$primary-color: #f700f7; 
$header-padding: 1rem;
$logo-width: 150px;
$menu-icon-size: 30px;