@import "../utilities/variables";
main{
    .section-inicio{
        margin-top: 35px;
            color: $color-negro;
            font-family:$fuente-pricipal;
            text-align: center;
            font-size: 2rem;
        }
       
        
    }